/* Because the names are different, these override the selectors that use the Marianina typeface- for compatability with trial webfont service. This should likely be changed (or erased) before production. */
h1.alt,
h2,
h3.alt,
h4,
h5.alt,
h6,
p.alt,
cite.alt,
input, select, textarea,
.btn,
.gform_wrapper .gfield_label,
.gform_wrapper select + label,
.pagination .pagination__pages a,
#nav-toggle__text,
#nav-toggle .nav-text,
.menu-main li,
.menu-tertiary li a span,
.menu-social label,
.map-area--location_name,
#footer .menu-footer li a {
  font-family: "Marianina FY Bold", "Helvetica Neue", Helvetica, sans-serif; }

/* Template-wide Styles */
.sdmsp {
  /* Links */ }
  .sdmsp a {
    color: #0b79d9;
    font-family: "Marianina FY Bold", "Helvetica Neue", Helvetica, sans-serif;
    outline: 0; }
    .sdmsp a:hover, .sdmsp a:focus {
      color: #095ea8; }
  .sdmsp .btn {
    font-size: 150%;
    letter-spacing: 0.05em; }
  .sdmsp .logo {
    width: 250px; }
  .sdmsp ul {
    list-style-position: inside;
    padding: 0; }
  .sdmsp h2 {
    text-transform: none; }
  .sdmsp #header .logo .brand {
    background-image: url("../i/sdmsp-header-logo.png");
    background-image: url("../i/sdmsp-header-logo.svg"); }

.flex-video {
  height: 0;
  margin-bottom: 0.88889rem;
  overflow: hidden;
  padding-bottom: 67.5%;
  padding-top: 1.38889rem;
  position: relative; }
  .flex-video iframe {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0; }

/* Section-specific styles */
#sdmsp-blockquote {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../i/sdmsp-bg-testimonial.png");
  background-position: 100% 100%;
  background-size: auto 100%;
  background-color: #fffdeb;
  border: 1px solid #fff59f;
  padding: 30px 40px;
  min-height: 325px; }
  @media only screen and (max-width: 767px) {
    #sdmsp-blockquote {
      background-image: none; } }
  #sdmsp-blockquote blockquote {
    font-size: 1.3125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.4;
    margin: 0; }
    #sdmsp-blockquote blockquote footer {
      font-size: 85%; }
      #sdmsp-blockquote blockquote footer:before {
        content: "\2014"; }

@media only screen and (max-width: 767px) {
  #hero {
    height: 670px; } }
#sdmsp-video {
  font-size: 1.125em; }
  #sdmsp-video li {
    margin-bottom: 7px; }

@media only screen and (min-width: 767px) {
  #sdmsp-why a {
    font-size: 1.325em; } }
#sdmsp-why .fa {
  color: #d0d0d0;
  margin-right: 5px; }

#sdmsp-signup {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #0b79d9; }
  #sdmsp-signup ol li {
    counter-increment: step-counter;
    list-style: none;
    margin-left: -7px; }
    #sdmsp-signup ol li:before {
      color: white;
      content: counter(step-counter);
      margin-right: 7px; }
  #sdmsp-signup h2 {
    font-size: 4em; }
